<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>221530704746-1h9ta10nsoa0dlavgvshs1q0juea7ni4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.221530704746-1h9ta10nsoa0dlavgvshs1q0juea7ni4</string>
	<key>API_KEY</key>
	<string>AIzaSyC0GmfVYSgNp-WjDDXzAHj_Ax61FBAvfuY</string>
	<key>GCM_SENDER_ID</key>
	<string>221530704746</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>fr.bricechk.qweezApp</string>
	<key>PROJECT_ID</key>
	<string>qweez-app</string>
	<key>STORAGE_BUCKET</key>
	<string>qweez-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:221530704746:ios:2b28fdde82a50516eb7313</string>
</dict>
</plist>